<footer class="footer">
    <div class="container">
        <a class="logo" href="">
            <img class="logo__pic" src="./img/logo.svg" alt="">
            <span class="logo__slogan">Компьютеры с предустановленным ПО для проектных организаций и строительных компаний</span>
        </a>

        <nav class="nav">
            <ul>
                <li>
                    <a href="">Продукция</a>
                </li>
                <li>
                    <a href="">О компании</a>
                </li>
                <li>
                    <a href="">Пользователю</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
        </nav>

        <span class="made"><a href="">Сделано в АртФактор</a></span>
    </div>
</footer>

<section class="form__modal" id="modal" style="display: none;">
    <h2>Оставить заявку</h2>
    <form action="">
        <div class="form__modal-wrap">
            <input type="text" name="name" required placeholder="Имя*">
            <input type="tel" name="phone" required placeholder="Телефон*">
            <input type="email" name="email" required placeholder="Email*">
            <textarea name="text" placeholder="Комментарий"></textarea>
            <button class="btn btn-primary btn-ghost btn-flip-down animated simplefade" type="submit">Оставить заявку
                  <div class="front">Оставить заявку</div>
                <div class="back">Оставить заявку</div>
            </button>
          
        </div>

    </form>
</section>



<script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
<script src="./js/script.min.js"></script>


</body>

</html>